@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {margin: 0; background: #004643;}

* {
    color: #FAF4D3;
    font-family: 'Alata', sans-serif; 
    outline: none;
}

#nav li {
    display: inline-block;
    background: #004643;
    cursor: pointer;
    width: 100px;
}

button, #nav li {padding: 20px;}

#nav li:hover,  button:hover {border: 3px solid #D1AC00; padding:17px;}
#nav li:active, button:active {background: #D1AC00;}

#nav {
    padding-left: 60px;
    margin-top: 0;
    list-style: none;
    background: #0C1618;
}

textarea, button, .container {
    border-radius: 20px;
    background: black;
}

textarea {
    padding: 10px;
    resize: vertical;
}

button {cursor: pointer; border: none;}

input[type="radio"] {cursor: pointer;}

.container {
    text-align: left;
    padding: 10px;
}